	<table summary = "User form fields">
		<tr>
			<th>First Name</th>
			<td><%= f.text_field(:first_name) %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= f.text_field(:last_name) %></td>
		</tr>
		<tr>
			<th>Role</th>
			<td><%= f.select(:role_id, (0..9).to_a.reverse) %></td>
		</tr>
		<tr>
			<th>Date of birth </th>
			<td><%= f.text_field(:date_of_birth) %></td>
		</tr>
	</table>