<% @page_title = "Edit User" %>
<div class="user edit">
	
  <h2>Update User</h2>
  <%= form_for( @user, :url => {:action => 'update', :id => params[:id] } ) do |f| %>
 	 <%= render( :partial => "shared/form_user", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Update User") %>
    </div>
  <% end %>
</div>
