<div class="commentform" title="Comment" ></div>
<div class="userphotos">
	<h2>Users Photos</h2>

	<div class="table">
		<table class="listing" summary="User photos">
			<tr class="header">
				<th>&nbsp;</th>
				<th>Photos</th>
			</tr>
			<% @photos.each_with_index do |photo,i| %>
			<tr>
				<td> <%= i+1 %> </td>
				<td> <%= render(:partial => 'shared/form_show_photo', :locals => {:photo => photo}) %> </td>
			</tr>
			<% end %>
		</table>
		<%= link_to("Add new photo", {:controller => 'photos', :action => 'new', :user_id => params[:id]}, :class => 'back-link') %>
	</div>
</div>
