<div class="event photos list">
	<h2>Что вспомнить?</h2>
	<div class="table">
		<table class="listing" summary="User events">
			<tr class="header">
				<th>&nbsp;</th>
				<th>Что было?</th>
			</tr>
			<% @events.each_with_index do |event,i| %>
			<tr>
				<%= link_to("#{event.title}. Смотреть все фотографии",{:controller => "events", :action => "list_photos", :event_id => event.id},:class => "list event photos") %>			
			</tr>
			</br>
			<% end %>
		</table>
		<%= link_to("Есть что добавить?", {:controller => 'event', :action => 'new', :user_id => params[:id]}, :class => 'back-link') %>
	</div>
</div>