<div class="subject new">
	<h2>Create user</h2>
	<%= form_for(:user, :url => {:action => "create"}) do |f|%>
		<%= render(:partial => 'form_user', :locals => {:f => f}) %>
		<div class="form-button">
			<%= submit_tag("Create User") %>
		</div>
	<%end%>
</div>
