<table summary = "Photo form fields">
	<tr>
		<th>Title</th>
		<td><%= f.text_field(:title) %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= f.text_field(:description) %></td>
	</tr>
	<tr>
		<th>Date</th>
		<td><%= f.text_field(:date) %></td>
	</tr>
	<tr>
		<th>Upload image</th>
		<td><%= f.file_field :c_image%></td>
	</tr>
</table>