body
{
background-color:#3bbfce;
}
h1
{
	padding-left:45%;
}
#pagecontent
{
	background-color:#FF4500;
}
}
.usernavigation
{
	padding-left:80%;
}
.header 
{ 
	font-style:oblique;
	font-size:2.5em;
	color:orange; 
	text-align:center;
	background-color:#FF4500;
}
.footer
{
	padding-left:80%;

}
.deletecomment{
	font-family: serif;
  	font-weight: bold;
  	font-size: 0.7em;
	color: blue;
}
.photo_description {
  border-color: #3bbfce;
  color: blue;
}
.comment{
	font-family: serif;
  	font-size: 1.1em;
	color: blue;
}
#commentform {
  padding: 8px;
  margin: 16px ;
  border-color: #3bbfce;
}
.comment_dialog {
  font-family: serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 8px;
  margin: 16px  ;
}

/* CRUD */
.notice { height: 1.25em; padding: 0.5em; text-align: center;
  background: #B6D491; color: #4C2516; }
.back-link { font-size: 0.8em; margin-bottom: 1em; }
.form-buttons { text-align: center; margin: 1em 0; }
.list table { clear: both; width: 100%; }
.list table tr td { border: 2px solid #666666; }
.show table { clear: both; margin: 0 200px; width: 300px; }
.show table.wide { width: 600px; margin: 0 50px; }
.show table tr th { white-space: nowrap; padding-right: 5px;}
.show table tr td { border: 1px solid #666666; }
.edit table, .new table { margin: 0 auto; }

.description table th tr {border: 0px solid #666666; margin: 0 50px;}

td.singlecomment{border: 0px solid #666666;}